<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Log in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
  <header>
    <nav class="nav_container">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <article class="main_content">
      <section class="form_container">
        {% if error %}
        <p class="error_massage">{{ error }}</p>
        {% endif %}
        <p>Login</p>
        <form method="post" class="reg_form">
          <label for="email">Email</label>
          <input name="email" id="email" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
          <input type="submit" value="Log in">
        </form>
        <p>
          Don&apos;t have an account?<br>
          <a href="{{ url_for('auth.register') }}">Resgister</a>
        </p>
      </section>
    </article>
  </main>

  <footer></footer>
</body>

</html>