<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    <header>
      <nav>
        <h1>Some random forum</h1>
        {% if session.get("current_user", None) %}
        <div class="nav_div">
          <p><span>{{ session["username"] }}</span></p>
          <p><a href="{{ url_for('auth.logout') }}">Log Out</a></p>
        </div>
        {% else %}
        <div class="nav_div">
          <p><a href="{{ url_for('auth.register') }}">Register</a></p>
          <p><a href="{{ url_for('auth.login') }}">Log In</a></p>
        </div>
        {% endif %}
      </nav>
    </header>

    <main>
      <section class="posts_header">
        <h3 id="ph1" class="ph_g_fi">All messages</h3>
        <h3 id="ph2" class="ph_g_fi">Top Topics</h3>
        {% if session.get("username", None) %}
        <a id="ph3" class="ph_g_fi" href="{{ url_for('blog.create_post') }}"
          >New Message</a
        >
        {% endif %}
        <p id="ph4" class="ph_g_fi">Filter</p>
      </section>

      {% if posts %} {% for post_id in posts %}
      <article class="content_list">
        <div class="title_div">
          <p class="title_p">
            Message by
            <span class="underlined">{{ posts[post_id]['author'] }}</span>
            on {{ posts[post_id]['created'] }}
          </p>

          {% if session.get("current_user", None) ==
          posts[post_id]['author_email'] %}
          <a
            class="action"
            href="{{ url_for('blog.update_post', post_id=post_id) }}"
            >Edit</a
          >
          {% endif %}
        </div>

        <figure>
          <figcaption>{{ posts[post_id]['title'] }}</figcaption>
          {% if posts[post_id]["body"] %}
          <p class="post_message">{{ posts[post_id]['body'] }}</p>
          {% endif %}
        </figure>
      </article>
      {% endfor %} {% endif %}
    </main>
  </body>
</html>
