{% extends 'base.html' %}

{% block header %}
<h3 style="margin-top: 0; padding-top: 15px;">{% block title %}All Posts{% endblock %}</h3>
{% if session.get("username", None) %}
<a id="new_post" href="{{ url_for('blog.create_post') }}">New</a>
{% endif %}

{% endblock %}


{% block content %}
<section id="post">
  {% for post_id in posts %}
    <article class="post_title">
      <h3>{{ posts[post_id]['title'] }}</h3>
      <p class="about">
        by <span class="underlined">{{ posts[post_id]['author'] }}</span> on {{ posts[post_id]['created'] }}
      </p>
      {% if session.get("current_user", None) == posts[post_id]['author_email'] %}
    <a class="action" href="{{ url_for('blog.update_post', post_id=post_id) }}">
      Edit
    </a>
    {% endif %}
    </article>
    <p class="body">{{ posts[post_id]['body'] }}</p>
  {% if not loop.last %}
  <hr>
</section>
{% endif %}
{% endfor %}
{% endblock %}