body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    height: fit-content;
    border: solid 2px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

h1 {
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
}

p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    overflow-wrap: break-word;
}

nav {
    margin-top: 1%;
}

textarea {
    resize: none;
    margin-bottom: 1%;
}

header {
    margin-left: 2em;
    margin-right: 2em;
}

.textfield {
    margin-left: 3%;
    margin-right: 3%;
}

#form1 {
    display: grid;
    grid-template-rows: 2em 2em 2em 20em 3.5em;

}

.tocenter {
    margin-left: auto;
    margin-right: auto;
}