<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <nav id="nav_container">
      <h1 id="nav_header">Posting test app</h1>
      <ul class="nav_list">
        {% if session.get("current_user", None) %}
        <li class="nav_items"><span>{{ session["username"] }}</span>
        <li class="nav_items"><a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
        <li class="nav_items"><a href="{{ url_for('auth.register') }}">Register</a>
        <li class="nav_items"><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
      </ul>
    </nav>
  </header>
  <main class="content">
    <section style="display: flex;">
      {% block header %}{% endblock %}
    </section>
    <hr>
    {% for message in get_flashed_messages() %}
    <section class="flash">{{ message }}</section>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
  <footer></footer>
</body>